* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    font-size: 2vw;
    height: 100vh;
    justify-content: center;
}

navbar {
    position: fixed;
    top: 0;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    width: 100vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

navbar ul {
    background-color: rgba(0, 0, 0, 0.70);
    height: 80px;
    list-style-type: none;
    padding: 0px 10vw 0px 10vw;
    transition-duration: 500ms;
}

navbar li {
    align-items: center;
    display: flex;
    float: right;
    height: 80px;
    margin: 0;
    transition-duration: 500ms;
}

navbar li:first-child {
    pointer-events: none;
}

navbar a {
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

navbar a:hover {
    color: rgba(255, 255, 255, 0.5);
}

main {
    width: 75%;
    padding: 8vh 2vw 8vh 2vw;
    margin: auto;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    margin-bottom: 1em;
}

.two-column div {
    width: 48%;
}

#mission, #contact {
    padding-left: 15px;
}

#mission li, #contact li {
    margin-bottom: 1em;
}

#home-video {
    padding: 50px 200px 50px 200px;
}

footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}